body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  display: flex;
  gap: 10px;
}

.dot {
  width: 15px;
  height: 15px;

  background-color: black;

  border-radius: 50%;

  animation-name: loading;

  animation-duration: 1s;

  animation-timing-function: ease-in-out;

  animation-iteration-count: infinite;

  animation-direction: alternate;
}

.dot1 {
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.4s;
}

.dot4 {
  animation-delay: 0.6s;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}
